:root {
  --t-default: #172b4d;
  --t-primary: #1677ff;
  --t-success: #2dce89;
  --t-info: #11cdef;
  --t-warning: #fb6340;
  --t-danger: #f5365c;

  $default: #172b4d;
  $primary: #1677ff;
  $success: #2dce89;
  $info: #11cdef;
  $warning: #fb6340;
  $danger: #f5365c;

  $fontColor: #333333;

  --t-border-color: #dcdfe6;
  --t-bg-color: #fff;
  --t-text-color: #606266;
  --t-placeholder-color: #bfc3d6;
  --t-hover-color: #f2f2f2;
  --t-icon-fill-color: #ccc;
  --t-shadow: rgba(0, 0, 0, 0.12);

  --t-primary-lighten: lighten(#1677ff, 23%);
  --t-success-lighten: lighten(#2dce89, 45%);
  --t-info-lighten: lighten(#11cdef, 39%);
  --t-warning-lighten: lighten(#fb6340, 35%);
  --t-danger-lighten: lighten(#f5365c, 35%);

  --t-success-border: lighten(#2dce89, 30%);
  --t-info-border: lighten(#11cdef, 30%);
  --t-warning-border: lighten(#fb6340, 30%);
  --t-danger-border: lighten(#f5365c, 30%);
}
