$btnBgColors: (
  "default": transparent,
  "primary": #1677ff,
  "success": #2dce89,
  "info": #11cdef,
  "warning": #fb6340,
  "danger": #f5365c,
);

$fontColor: #333333;

.t-button {
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #fff;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  font-weight: 500;
  line-height: 1;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  min-width: 98px;
  padding: 12px 18px;
  font-size: 14px;
  transition: all 0.2s;
  &[disabled] {
    cursor: not-allowed;
    border-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.04);
    box-shadow: none;
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      border-color: #d9d9d9;
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.04);
      border-color: #d9d9d9;
    }
  }
}

.t-button > .button__inner {
  display: flex;
  align-items: center;
}

.t-button.t-button--icon {
  min-width: 40px;
  padding: 8px 15px;
  font-size: 18px;
}
// 原型按钮

// 循环设置按钮背景颜色

@each $key, $value in $btnBgColors {
  .t-button__#{$key} {
    color: #fff;
    background-color: $value;
    border-color: $value;

    &:hover {
      background: lighten($value, 10%);
      border-color: lighten($value, 10%);
    }
    &:active {
      background: darken($value, 10%);
      border-color: darken($value, 10%);
    }
    // 幽灵按钮
    &.is_ghost {
      background-color: transparent;
      color: $value;
      &:hover {
        color: lighten($value, 10%);
      }
      &:active {
        color: darken($value, 10%);
      }
    }
    &.is_dashed {
      border-style: dashed;
      &:hover {
        color: lighten($value, 10%);
      }
      &:active {
        color: darken($value, 10%);
      }
    }
    &.is_loading {
      background: lighten($value, 10%);
      border-color: lighten($value, 10%);
      cursor: not-allowed;
      &:hover {
        background: lighten($value, 10%);
        border-color: lighten($value, 10%);
      }
      &:active {
        background: lighten($value, 10%);
        border-color: lighten($value, 10%);
      }
    }
  }
}

.t-button__default {
  color: $fontColor;
  border-color: #d9d9d9;
  &:hover {
    color: var(--t-primary);
    border-color: var(--t-primary);
  }
  &.is_ghost {
    background-color: transparent;
    color: $fontColor;
    &:hover {
      color: var(--t-primary);
      border-color: var(--t-primary);
    }
  }
  &.is_dashed {
    &:hover {
      color: var(--t-primary);
      border-color: var(--t-primary);
    }
  }
}

.t-button-shape-default {
  border-radius: 4px;

  // 尺寸
  &.t-button.t-button--large {
    min-width: 100px;
    padding: 12px 18px;
  }
  &.t-button.t-button--middle {
    min-width: 92px;
    padding: 10px 18px;
  }
  &.t-button.t-button--small {
    min-width: 80px;
    padding: 9px 15px;
    font-size: 12px;
  }
}
.t-button-shape-round {
  border-radius: 40px;
  // 尺寸
  &.t-button.t-button--large {
    min-width: 100px;
    padding: 12px 18px;
  }
  &.t-button.t-button--middle {
    min-width: 92px;
    padding: 10px 18px;
  }
  &.t-button.t-button--small {
    min-width: 80px;
    padding: 9px 15px;
    font-size: 12px;
  }
}
.t-button-shape-circle {
  border-radius: 50%;
  // 尺寸
  &.t-button.t-button--large {
    min-width: 40px;
    padding: 12px 12px;
  }
  &.t-button.t-button--middle {
    min-width: 30px;
    padding: 8px 8px;
  }
  &.t-button.t-button--small {
    min-width: 25px;
    padding: 6px 6px;
    font-size: 12px;
  }
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.loading_box {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: white;
  animation: spin 1s ease-in-out infinite;
}
