@font-face {
  font-family: "iconfont"; /* Project id 4922342 */
  src: url('../fonts/iconfont.woff2') format('woff2'),
       url('../fonts/iconfont.woff') format('woff'),
       url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e685";
}

.icon-info:before {
  content: "\e683";
}

.icon-warning:before {
  content: "\e96b";
}

.icon-error:before {
  content: "\e6c6";
}

.icon-success:before {
  content: "\e601";
}

.icon-rili:before {
  content: "\e8b4";
}

.icon-xiazai-xue:before {
  content: "\e625";
}

.icon-shangchuan:before {
  content: "\e646";
}

.icon-shangchuan1:before {
  content: "\e672";
}

.icon-xiazai:before {
  content: "\e62d";
}

.icon-download:before {
  content: "\e614";
}

.icon-loading:before {
  content: "\e64b";
}

