.t-pagination {
  $paginationheight: 30px;

  .t-pagination-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    align-items: center;
    .t-pagination-item {
      padding: 0;
      margin: 0;
      list-style: none;
      width: 28px;
      height: $paginationheight;
      line-height: $paginationheight;
      text-align: center;
      border-radius: 4px;
      cursor: pointer;
    }
    .t-pagination-item:hover {
      color: var(--t-primary);
    }
  }
  .t-pagination-item__active {
    font-weight: bold;
    color: var(--t-primary);
  }
}
